@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

*{
margin: 0px;
padding: 0px;
}
body{
    background-image: url('./Frame\ 57.jpg');
    
    font-family: 'Open Sans', sans-serif ,'Montserrat';
    font-size: 15px;
}

h5{
    font-size: 15px;
    margin-top: 15px;
    color: rgb(161, 161, 161);
}
p{
    color: rgb(161, 161, 161);   
}


input{
    width: 100%;
    padding: 2px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
}
.input-btn{
    background-color: #3b3ee6;
    color: white;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}